@import './settings';
html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Mono', monospace;
  color: $text-color;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
